input {
  outline: none;
  padding: 0 5px;
  &::-webkit-input-placeholder {
    transition: 0.2s;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }
}

textarea {
  outline: none;
  padding: 0 5px;
  &::-webkit-input-placeholder {
    transition: 0.2s;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }
}